# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.*
*.rest

# Backend
ssl
secret.py
*.db
__pycache__
env
/utils/*.txt
/utils/logs/*.txt

# front
/front/**
!/front/dist